@import "../../../variable.scss";
.debitNoteMaster {
  @extend .tabViewBox;
  .debitNoteMasterIn {
    padding: 0px 15px;
    .autoComp {
      .formBox {
        @extend .inputBox;
        .MuiInput-formControl {
          padding-right: inherit;
          &::before {
            display: none !important;
          }
          &::after {
            display: none !important;
          }
          .MuiAutocomplete-input {
            box-sizing: border-box;
            background-color: #fff;
          }
        }
      }
    }
    .checkCol {
      display: flex;
      align-items: center;
    }
    .boxTitle {
      display: block;
      @extend .titleFont;
      margin-bottom: 20px;
      margin-top: 5px;
    }
    .box {
      padding: 25px 15px;
      &.borderBox {
        border: solid 1px #e1e1e1;
        padding: 15px 15px;
        @include border-radius(10px);
        h2 {
          font-size: 1.5rem;
          margin-top: 0px;
        }
        h4 {
          border-bottom: solid 1px #e1e1e1;
          padding-bottom: 15px;
          margin: 15px 0px 13px;
          color: #1c62b0;
        }
      }
      &.greyBg {
        background-color: $lightBg;
        @include border-radius(4px);
        &.borderBottom-0 {
          @include border-radius(4px 4px 0px 0px);
        }
      }

      .formBox {
        @extend .inputBox;
        position: relative;
        // .calIcon {
        //   position: absolute;
        //   right: 13px;
        //   top: 45px;
        //   z-index: 9;
        //   pointer-events: none;
        // }
        &.mb-0 {
          margin-bottom: 0px;
        }
        .react-datepicker-wrapper {
          width: 100%;
        }
        &.error {
          input,
          select {
            border: solid 1px #f00;
          }
        }
      }
      &.blueBg {
        background-color: $btnBlue;
        padding: 15px 15px 0px;
        @include border-radius(4px);
        &.borderTop-0 {
          @include border-radius(0px 0px 4px 4px);
        }
        .formBox {
          label {
            color: #fff;
          }
          input {
            border: solid 1px #fff;
            background: none;
            color: #fff;
            &.bgWhite {
              background: #fff;
              color: #444;
            }
          }
        }
      }
    }
    .btnGreen {
      padding: 14px 15px;
      border: none;
      background-color: $btnBgGreen;
      color: #fff;
      @include border-radius(5px);
      @include box-shadow(2px 11px 15px -5px #d0cfcf);
      font-weight: bold;
      margin-top: 34px;
      cursor: pointer;
      outline: none;
    }
    .tableBox {
      table {
        margin: 0px;
        @extend .table;
        td {
          height: 50px;
        }
      }
    }
  }
  .taxAmount {
    .row {
      margin-bottom: 10px;
      label {
        padding-top: 10px;
        display: block;
      }
      input {
        width: 100%;
        outline: none;
        padding: 15px 15px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -o-border-radius: 5px;
        border: solid 1px #e1e1e1;
        height: 43px;
        text-align: right;
      }
    }
  }
}
