@import "../../../variable.scss";
.voucherType {
  @extend .tabViewBox;
  .voucherTypeSection {
    .box {
      padding: 25px 15px;
      margin-bottom: 15px;
      &.greyBg {
        background-color: $lightBg;
        @include border-radius(4px);
      }
    }

    display: block;
    padding: 0px 15px;
    .formBox {
      @extend .inputBox;

      ::placeholder {
        font-size: 0.8rem;
        color: #9f9f9f;
      }
      &.mb-0 {
        margin-bottom: 0px;
      }
    }
    .formBox {
      @extend .inputBox;
      .MuiInput-formControl {
        padding-right: inherit;
        &::before {
          display: none !important;
        }
        &::after {
          display: none !important;
        }
        .MuiAutocomplete-input {
          box-sizing: border-box;
          background-color: #fff;
        }
      }
      .checkboxNew {
        padding-top: 26px;
        input + label {
          pointer-events: inherit;
        }
      }
    }

    .MuiAutocomplete-inputRoot[class*="MuiInput-root"]
      .MuiAutocomplete-input:first-child {
      padding: 6px 10px;
    }
  }
}
