@import "../../../variable.scss";
.indent {
  @extend .tabViewBox;
  .indentIn {
    padding: 0px 15px;
    .autoComp {
      .formBox {
        @extend .inputBox;
        .MuiInput-formControl {
          padding-right: inherit;
          &::before {
            display: none !important;
          }
          &::after {
            display: none !important;
          }
          .MuiAutocomplete-input {
            box-sizing: border-box;
            background-color: #fff;
          }
        }
        &.error {
          input {
            border: solid 1px #f00;
          }
        }
      }
    }
    .boxTitle {
      display: block;
      @extend .titleFont;
      margin-bottom: 20px;
      margin-top: 5px;
    }
    .box {
      padding: 25px 15px;
      margin-bottom: 15px;
      &.greyBg {
        background-color: $lightBg;
        @include border-radius(4px);
        &.borderBottom-0 {
          @include border-radius(4px 4px 0px 0px);
        }
      }

      .formBox {
        @extend .inputBox;
        position: relative;
        // .calIcon {
        //   position: absolute;
        //   right: 13px;
        //   top: 45px;
        //   z-index: 9;
        //   pointer-events: none;
        // }
        &.mb-0 {
          margin-bottom: 0px;
        }
        .react-datepicker-wrapper {
          width: 100%;
        }
      }
      &.blueBg {
        background-color: $btnBlue;
        @include border-radius(4px);
        &.borderTop-0 {
          @include border-radius(0px 0px 4px 4px);
        }
        .formBox {
          label {
            color: #fff;
          }
          input {
            border: solid 1px #fff;
            background: none;
            color: #fff;
            &.bgWhite {
              background: #fff;
              color: #444;
            }
          }
        }
      }
      .showText {
        color: #f00;
        font-weight: 600;
        margin-top: 45px;
        font-size: 15px;
      }
    }
    .tableBox {
      table {
        @extend .table;
        margin: 0px 0px;
        td {
          height: 50px;
        }
      }
    }
  }
}
/**/
.modalPopUp {
  @extend .modalPopUp;
  table {
    @extend .table;
  }
  .popupButton {
    display: flex;
    padding: 10px 0px 0px;
    button {
      &.mr-5 {
        margin-right: 5px;
      }

      &.mlAuto {
        margin-left: auto;
      }
    }
  }
}
