@import "../../../variable.scss";

.changePasswordBox {
  @extend .tabViewBox;
  .changePasswordSection {
    display: block;
    padding: 0px 15px;
    .box {
      padding: 25px 15px;
      margin-bottom: 15px;
      &.greyBg {
        background-color: $lightBg;
        @include border-radius(4px);
      }
      .col {
        width: 100%;
        .errorShow {
          color: #ff0000;
          padding: 8px 0px;
        }
      }
      .formBox {
        @extend .inputBox;
      }
    }
  }
}
