@import "../../../variable.scss";

.Popup {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(78, 78, 78, 0.25);
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0px;

  .PopupBox {
    position: relative;

    .closeIcon {
      position: absolute;
      right: -25px;
      top: -25px;
    }

    input {
      margin-bottom: 0.5rem;
    }
    margin: auto auto;
    background-color: #fff;
    width: 32%;
    height: 35%;
    min-height: 330px;
    @include border-radius(15px);
    padding: 20px 30px;
    @include box-shadow(4px 26px 14px -19px #16161621);
    @extend .inputBox;
  }
}
