@import "../../../../variable.scss";
.commonFormAction {
  width: 100%;
  display: flex;
  padding: 20px 15px;
  ul {
    margin: 0;
    margin-left: auto;
    padding: 0px 0px;
    list-style-type: none;
    display: flex;
    background-color: #f5f8fa;
    justify-content: center;
    min-width: 0px;
    overflow: hidden;
    @include transform(scale(1, 0));
    @include border-radius(30px);
    @include transition(0.3s);
    &.active {
      @include transform(scale(1, 1));
      min-width: 255px;
      padding: 4px 20px;
    }
    li {
      margin: 0px 5px;
      button {
        background: none;
        border: none;
        outline: none;
        margin: 0px;
        padding: 6px 7px 4px;
        border-radius: 5px;
        cursor: pointer;
        &.active {
          background: #1a5f9e;
        }
        &.disable {
          cursor: inherit;
        }
        img {
          display: block;
        }
      }
    }
  }
  .linkCloseBtn {
    width: 42px;
    height: 42px;
    background-color: #ff4141;
    border: none;
    @include border-radius(80%);
    margin-left: 15px;
    cursor: pointer;
    outline: none;
    @include box-shadow(1px 3px 11px 0px #f78787);
    position: relative;
    &::before {
      content: "";
      width: 2px;
      height: 16px;
      background-color: #fff;
      position: absolute;
      top: 13px;
      left: 50%;
      margin-left: -1px;
      @include rotate(45deg);
    }
    &::after {
      content: "";
      width: 2px;
      height: 16px;
      background-color: #fff;
      position: absolute;
      top: 13px;
      left: 50%;
      margin-left: -1px;
      @include rotate(-45deg);
    }
  }
}
