.textarea{
    width: 100%;
    outline: none;
    padding: 5px 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border: solid 1px #e1e1e1;
    resize: none;
    min-height: 70px;
}